<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <a href="/profecional"  style="text-decoration: none">
                <span>Profecional</span>
            </a>
        </button>
        <button mat-menu-item>
            <a href="/free"  style="text-decoration: none">
                <span>Free</span>
            </a>
        </button>
        <button mat-menu-item>
            <a href="/normal"  style="text-decoration: none">
                <span>Normal</span>
            </a>
        </button>
      <button mat-menu-item>
          <a href="/agregarServicio"  style="text-decoration: none">
              <span>Agregar</span>
          </a>
      </button>
      <button mat-menu-item>
          <a href="/cantidadServicios"  style="text-decoration: none">
              <span>Cantidad Servicios</span>
            </a>
      </button>
      <button   mat-menu-item>
          <a href="/cantidadMB"  style="text-decoration: none">
              <span>Cantidad MB</span>
            </a>
      </button>
      <button   mat-menu-item>
            <a href="/cantidad300"  style="text-decoration: none">
                <span>Cantidad MB mayor a 300</span>
              </a>
        </button>
      
    </mat-menu>
    
    <span class="example-spacer"></span>
    <app-nombre></app-nombre>
    <span class="example-spacer"></span>
    <a href="/salir" mat-icon-button>
    <mat-icon class="example-icon">exit_to_app</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>