<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
          <a href="/agregar"  style="text-decoration: none">
              <span>Agregar</span>
          </a>
      </button>
      <button mat-menu-item>
          <a href="/mostrarLista"  style="text-decoration: none">
              <span>Mostrar</span>
            </a>
      </button>
      <button   mat-menu-item>
          <a href="/buscar"  style="text-decoration: none">
              <span>Buscar</span>
            </a>
      </button>
      
    </mat-menu>
    
    <span class="example-spacer"></span>
    <app-nombre></app-nombre>
    <span class="example-spacer"></span>
    <a href="/salir" mat-icon-button>
    <mat-icon class="example-icon">exit_to_app</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>